# Dependencies
src/.deps
src/.libs
src/*.dSYM

# Prerequisites
src/*.d

# Compiled Object files
src/*.slo
src/*.lo
src/*.o
src/*.obj
HealpixC/*.o

# Compiled Dynamic libraries
src/*.so
src/*.dylib
src/*.dll
HealpixC/*.so

# Compiled Static libraries
src/*.lai
src/*.la
src/*.a
src/*.lib
HealpixC/*.a

# Executables
src/sat_skymap

# More stuff
.DS_Store
